<p>home page</p>
<p>posts</p>
 <%= stylesheet_link_tag("homescreen") %>
<% for post in @posts %>
	<div class="boxed">
	<h1> <%= post.title %> </h1>
	<p> <%= post.content %></p>
	<%= link_to post.user.login, "/users/view/#{post.user.id}" %>
		<br>
	</div>
	<div> <% for comment in post.comments %>
		<%= comment.content %>
		<p> commented by <%= comment.user.login %></p>  
		<% end%>
	</div>
	<%= form_for(:comment, :method => :post, :url =>"/posts/#{post.id}/comment") do |form| %>

		<%=form.text_area(:comment)%>
		<%=submit_tag('Comment') %>

	<% end%>

<% end%>

	


<p>welcome <%= @user.login %></p>
<p> <%= link_to "Create Post", "/posts/new" %> </p> 