<!-- this is whee we desplay new nptifications that are set to false in the controller(users/151-167) -->
<div class="text-center">
	<h1> New Notifications </h1>
</div>
<p> <% for notification in @new_notifications %></p>
	<% if notification.topic_id == 1 %>
		<div class="panel-notification">
			<%= notification.contents %>
			<a href="<%= notification.link %>" class="notificationButton">View</a>
			
			<a href="<%= "/users/delete_notification/#{notification.id}" %>" class="notificationButton">Delete</a>
			
		</div>

	<% elsif notification.topic_id == 2 %>
		<div class="panel-notification">
			<%= notification.contents %>
			<a href="<%= "/users/view/#{notification.link.gsub(/[^\d]/, '')}" %>" class="notificationButton">View User</a>
			
			<a href="<%= notification.link %>" class="notificationButton">Accept</a>
			
			<a href="<%= "/users/delete_notification/#{notification.id}" %>>" class="notificationButton">Decline</a>
			

			<a href="<%= "/users/delete_notification/#{notification.id}" %>" class="notificationButton">Delete</a>
			
		</div>

	<% elsif notification.topic_id == 4 %>
		<div class="panel-notification">
			<%= notification.contents %><br>
			<a href="<%= notification.link %>" class="notificationButton">View</a><br>

			<a href="/users/delete_notification/#{notification.id}" class="notificationButton">View</a><br>

			<a href= <%= "/users/delete_notification/#{notification.id}" %>><p>Delete notification</p></a>
		</div>
	<% elsif notification.topic_id == 3 %>
		<div class="panel-notification">
			<%= notification.contents %>
			<a href="<%= notification.link %>" class="notificationButton">View Profile</a><br>

		

			<a href="/users/delete_notification/#{notification.id}" class="notificationButton">Delete</a>
			
		</div>
	<% end %>
<% end %>
<div class="text-center">
	<h1> Read Notifications </h1>
</div>
<!-- this is whee we desplay old nptifications that are set to false in the controller(users/151-167) -->
<p> <% for notification in @old_notifications %></p>
	<% if notification.topic_id == 1 %>
		<div class="panel-notification">
			<%= notification.contents %> <br>

			<a href="<%= notification.link %>" class="notificationButton"> View </a> <br>
			

			<a href="/users/delete_notification/#{notification.id}" class="notificationButton">Delete</a>
			
		</div>
	<% elsif notification.topic_id == 2 %>
		<div class="panel-notification">
			<%= notification.contents %><br>
			<a href="/users/view/#{notification.link.gsub(/[^\d]/, '')}" class="notificationButton">View user</a><br>

		
			<a href="<%= notification.link %>" class="notificationButton">Accept</a><br>

			<a href="/users/delete_notification/#{notification.id}" class="notificationButton">Decline</a>
		
		</div>
		

	<% elsif notification.topic_id == 3 %>
		<div class="panel-notification">
			<%= notification.contents %><br>
			<a href="<%= notification.link %>" class="notificationButton">View</a><br>

			<a href="/users/delete_notification/#{notification.id}" class="notificationButton">Delete</a>

			
		</div>

	<% elsif notification.topic_id == 4 %>
		<div class="panel-notification">
			<%= notification.contents %> <br>
			<a href="<%= notification.link %>" class="notificationButton">View</a><br>

			<a href="/users/delete_notification/#{notification.id}" class="notificationButton">Delete</a>
		</div>
		
	<% end %>
<% end %>
